<table>
    <tr>
        <td><a asp-page="Index">Home</a></td>
        <td><a asp-page="/Mesas/Index">Mesas</a></td>
        <td><a asp-page="/Garcons/Index">Garçons</a></td>
        <td><a asp-page="/Atendimentos/Index">Atendimentos</a></td>
        <td><a asp-page="/Categorias/Index">Categorias</a></td>
        <td><a asp-page="/Produtos/Index">Produtos</a></td>
    </tr>
</table>