@page
@model UTFPR_Gamificacao_V1.RazorPages.Pages.Index

<h1>Sistema de Gerenciamento de Pedidos de Restaurante</h1>

<div>
    Página inicial, selecione uma das opções do menu acima para navegação!
</div>